body {
background-image: url(assets/art.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-size: 60px;
font-weight: bolder;
}
h1 {
  text-align: center;
  text-shadow: 4px 4px black;
  animation: blinker 5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
      0% {color: #196666;}
     25% {color: #00cccc;}
     50% {color: #ff704d;}
    100% {color: #ff751a;}
}
h2 {
  text-align: center;
  color: #00cccc;
  text-shadow: 3px 3px black;
}
h3 {
  color: #196666;
  font-size: 50px;
  text-align: center;
}
h4 {
  color: #862d59;
  text-shadow: 2px 2px white;
}
h5 {
  font-size: 45px;
}
p {
  font-size: 35px;
}
footer{
  text-align: center;
}
header{
  text-align: center;
}
img {
  height: 350px;
  width: 350px;
  border-radius: 50px;
  -webkit-transition: -webkit-transform 6s;
  transition: transform 6s;
}
img:hover {
 -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
div {
  float: left;
  width: 23%;
  padding: 15px;
}
input {
  width: 380px;
  height: 50px;
  font-size: 30px;
}
button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 100px;
  border-color: orange;
  font-weight: bold;
}
.form {
  width: 30%;
  padding-left: 35%;
position: relative;
text-align: center;
margin: 0px;
}
.home{
  text-align: center;
padding-top: 5%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}


@media screen and (max-width: 780px) {
  body {
    font-size: 35px;
    text-align: center;
 }
 div {
   width: 40%;
   position:static;
   text-align: center;
   float: none;
   padding-left: 25%;
   padding-right: 25%;
   margin: 0px;
 }
 img {
   height: 150px;
   width: 150px;
   border-radius: 50px;
 }
 h1 {
   font-size: 40px;
 }
 .form {
   padding-left: 5%;
 text-align: center;
 margin: 0px;
}
footer {
  text-align: center;
}
