<div>
  <h3>Arabic Calligraphy</h3>
  <img src="/assets/arabic.png" alt="arabic_calligraphy">
  <h5>WHEN?</h5>
  <p>1 July 2019, On Monday At 17:00-20:00</p>
  <h5>WHERE?</h5>
  <p>Lotus Space - Osfiya</p>
  <h5>AGE?</h5>
  <p>15-30 years old</p>
  <h5>HOW MUCH?</h5>
  <p>450 NIS</p>
</div>

<div>
  <h3>Mozaic Art</h3>
  <img src="/assets/mosaic.jpg" alt="mozaic_art">
</div>
<div>
  <h3>Charcoal Drawing</h3>
  <img src="/assets/charcoal.jpg" alt="Charcoal_drawing">
</div>
<div>
  <h3>Mandala Art</h3>
  <img src="/assets/mandala.jpg" alt="mandala_art">
</div>
