<section class="home">
  <h4>"Art enables us to find ourselves and lose ourselves at the same time." <br> -Thomas Merton</h4>
<div>
  <h3>Arabic Calligraphy</h3>
  <img src="/assets/arabic.png" alt="arabic_calligraphy">
</div>
<div>
  <h3>Mozaic Art</h3>
  <img src="/assets/mosaic.jpg" alt="mozaic_art">
</div>
<div>
  <h3>Charcoal Drawing</h3>
  <img src="/assets/charcoal.jpg" alt="Charcoal_drawing">
</div>
<div>
  <h3>Mandala Art</h3>
  <img src="/assets/mandala.jpeg" alt="mandala_art">
</div>
<h4>Join us for an art adventure in a relaxed and friendly atmosphere.<br>
    No experience neccessary ! <br>
  Our intructor, Nareman Ferro, will start each class with a short demonestration.<br>
Participators will learn about the versatility of some kinds of art while painting from still-life of their imagination.</h4>
{{>logIn}}
</section>
<script type="text/javascript">

</script>
