<section class="home">
  <h4>"Art enables us to find ourselves and lose ourselves at the same time." <br> -Thomas Merton</h4>
<div>
  <h3>Arabic Calligraphy</h3>
  <img src="/assets/arabic.png" alt="arabic_calligraphy">
</div>
<div>
  <h3>Mozaic <br> Art</h3>
  <img src="/assets/mosaic.jpg" alt="mozaic_art">
</div>
<div>
  <h3>Charcoal Drawing</h3>
  <img src="/assets/charcoal.jpg" alt="Charcoal_drawing">
</div>
<div>
  <h3>Mandala <br> Art</h3>
  <img src="/assets/mandala.jpeg" alt="mandala_art">
</div>
{{>logIn}}
</section>
<script type="text/javascript">

</script>
