<section class="form">
    <form action="./" method="post">
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="password" placeholder="Password" required="">
      <input type="submit" value="LOGIN">
    </form>
      <p>If you do not have an Account,<a href="./signup"> Signup Now!</a></p>
</section>
