<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art Courses</title>
    <link rel="stylesheet" type="text/css" href="../../public/style.css">
  </head>
  <body>
    <h1>Art Courses</h1>
    <div>
      <h3>Arabic Calligraphy</h3>
      <img src="../../public/assets/arabic.png" alt="arabic_calligraphy">
    </div>
    <div>
      <h3>Mozaic Art</h3>
      <img src="../../public/assets/mosaic.jpg" alt="mozaic_art">
    </div>
    <div>
      <h3>Charcoal Drawing</h3>
      <img src="../../public/assets/charcoal.jpg" alt="Charcoal_drawing">
    </div>
    <div>
      <h3>Mandala Art</h3>
      <img src="../../public/assets/mandala.jpg" alt="mandala_art">
    </div>
    <form class="logIn" action="index.html" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" value="" placeholder="Please enter your email">
      <label for="password">Password:</label>
      <input type="text" name="password" value="" placeholder="Please enter your password">
      <button type="button" name="button">Sign In</button>
    </form>
    <script type="text/javascript">

    </script>
  </body>
</html>
